
  
<div class="panel panel-default lista-userow">
  <div class="panel-heading">Lista graczy</div>
  <table>
        <thead>
            <th><b>Id</b></th>
            <th><b>Name</b></th>
            <th><b>GameRoom</b></th>
        </thead>
        <tbody>
            <tr *ngFor="let player of players;">
                <td><h4> {{player.id }} </h4></td><td><h4> {{player.name}} </h4></td><td><h4> {{player.room}} </h4></td><button class="btn btn-primary" type="button">Dołącz do pokoju <span class="badge">  {{player.room}}  </span></button>
            </tr>
        </tbody>
    </table>
</div>