<<<<<<< HEAD

<body>
<div *ngIf="logged; else notlogged">
<i class="fa fa-bars">{{login}}</i>
</div>
<ng-template #notlogged><a id="menu-toggle" routerLink="/login" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars">Login</i></a></ng-template>
<router-outlet (notify)='onNotify($event)'></router-outlet>
<header id="top" class="header">
  <div class="text-vertical-center">
    <div id="hjeden"><img src="favicon.ico"/><h1>Poker</h1></div>
      <i><h4 id="1_quote">"One does not simply win,</h4>
         <h4 id="2_quote">if they never play"</h4></i>
  </div>
</header>
<a routerLink = '/poker' class="btn btn-dark btn-lg">Let's PLay</a>
</body>
=======
<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
    </form>
</div>
<!--<div class="jumbotron">-->
    <!--<div class="container">-->
        <!--<div class="col-sm-8 col-sm-offset-2">-->
            <!--<alert></alert>-->
            <!--<router-outlet></router-outlet>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

>>>>>>> 49adf3970de203cf97d874473fcae8c737fc5a1e

