<div class="col-md-6 col-md-offset-3">
 <h1>Hi {{currentUser.firstName}}!</h1>
 <p>You're logged in with Angular 2!!</p>
 <h3>All registered users:</h3>
 <ul>
  <li *ngFor="let user of users">
   {{user.username}} ({{user.firstName}} {{user.lastName}})
   - <a (click)="deleteUser(user.id)">Delete</a>
  </li>
 </ul>
 <p><a [routerLink]="['/login']">Logout</a></p>
</div>/**
 * Created by adamo on 12.04.17.
 */
